body,
html {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #054f4e89; /* New background color */
  font-family: "Roboto", sans-serif;
  animation: fadein 1.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

input {
  background-color: #ffffff;
  color: #333333;
  outline: none;
  text-align: right;
  border: none;
  font-size: 2.5rem;
  width: 70vw;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.container {
  margin: auto;
  text-align: center;
}

.calculator {
  padding: 1rem;
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

table {
  margin: auto;
  color: #333333;
}

button {
  border: none;
  background-color: #e0e0e0;
  width: 15vw;
  height: 8vh;
  padding: 0.5rem 0;
  margin: 0.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #d0d0d0;
}

a {
  color: #333333;
  text-decoration: none;
  transition: text-shadow 0.3s;
}

a:hover {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.toggle-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #dddddd;
  transition: background-color 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #333333;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

/* Dark mode styles */

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode body,
.dark-mode html {
  background-color: #333333;
}

.dark-mode h1 {
  color: #ffffff;
}

.dark-mode .calculator {
  background-color: #444444;
  color: #ffffff;
}

.dark-mode table {
  color: #ffffff;
}

.dark-mode button {
  background-color: #555555;
  color: #ffffff;
}

.dark-mode a {
  color: #ffffff;
}

.dark-mode .toggle-slider {
  background-color: #555555;
}

.dark-mode input:checked + .toggle-slider {
  background-color: #ffffff;
}
#history{
  font-weight: bolder;
  color: rgba(234, 181, 141, 0.995);
}